.App {
    
    display:grid;
    
    /*justify-content:start;
   align-items:center;*/
    height:max-content;
    width:max-content;
    margin-left: 20cm;
    margin-top: -11.5cm;
   
  }
  .asset{
    height:10cm;
    width: 13cm;
   
    justify-content: center;
  }
